#toolbar {
  width: 100%;
  height: auto; /* Allow height to adjust */
  background-color: #34495e;
  display: flex;
  flex-wrap: wrap; /* Allow wrapping */
  justify-content: center; /* Center elements */
  padding: 10px; /* Add some padding */
}

.separator {
  width: 5px;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0 15px; /* Adjust margin */
  display: inline-block;
}

.algorithmButton,
.currentAlgorithmButton {
  margin-left: 10px;
  margin-right: 10px;
}

input[type=range] {
  margin: 0 15px; /* Adjust margin for range input */
}
